$bg-dark: #0b0d17;
$color-gray: #d0d6f9;
$color-white: #fff;



.container {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 80%;
  margin-top: auto;
 align-items: center;


  .left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    height: 100%;
  }

  .right-side {
    display: flex;
    align-items: flex-start;
    flex: 1;
    height: 100%;

  }
}

.heading-1 {
  color: $color-white;
  font-family: Bellefair;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-2 {
  color: $color-white;
  font-family: Bellefair;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.heading-3 {
  color: $color-white;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.heading-4 {
  color: $color-white;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.heading-5 {
  color: $color-gray;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
}

.subheading-1 {
  color: $color-white;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.subheading-2 {
  color: $color-gray;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.nav-text{
  color: #D0D6F9;
font-family: Barlow;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px;
text-transform: uppercase;
}

.body-text {
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}

.subheading-info {
  color: #FFF;
font-family: Bellefair;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}


@media (max-width : 768px){
  .container{
    flex-direction: column;
    margin-top: 120px;

    .left-side{
      align-items: center;
      text-align: center;

    }
  }
}