.container {
    .left-side{
       .subheading-1{
        margin-bottom: 40px;
       } 
       .body-text{
        width: 444px;
       }
       
      h3{
        &.heading-4{
            opacity: 0.5042; 
            margin-bottom: 10px;
        }

       }

       h5{
        margin-bottom: 27px;
       }

       nav{
        a{
            margin-top: 30px;
            &:not(:last-child){
                margin-right: 15px;
            }
            &.active{
                background-color: white;
            }
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #979797;

        }
       }
    }
}

@media (max-width : 768px) {
    .container{

        &.crew{
            .left-side{
                width: 100%;
                .subheading-1{
                    margin-right: auto;
                    margin-top: 20px;
                    font-size: 20px;
                }
            }

            .right-side{

                img{
                    margin-top: 50px;
                    object-fit: contain;
                }
            }
        }
    }
}