.container {
  &.destination {
    .left-side {
      img {
        width: 445px;
        height: 445px;
        margin-top: 50px;
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 445px;
      align-items: flex-start;

      nav {
        margin-bottom: 37px;
        a {
          padding-bottom: 15px;
          &:not(:last-child) {
            margin-right: 35px;
          }

          &.active {
            border-bottom: 3px solid $color-white;
          }

          &:hover:not(.active) {
            border-bottom: 3px solid rgba(255, 255, 255, 0.5);
          }
        }
      }

      h2 {
        margin-bottom: 14px;
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: rgba(56, 59, 75, 1);
        margin-top: 54px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 28px;
        .subheading-2 {
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    &.destination {
      .left-side {
        width: 100%;

        h3 {
          margin-right: auto;
          margin-top: 20px;
          font-size: 20px;
        }

        img {
          width: 300px;
          height: 300px;
          margin-bottom: 40px;
        }
      }

      .right-side {
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media (max-width: 478px) {
  .container {
    &.destination {
      .left-side {
        .subheading-1 {
          margin-right: 0;
          margin-bottom: 0;
        }

        img {
          margin: 20px;
        }
      }
      .right-side {
        .heading-2 {
          font-size: 56px;

        }
          .body-text{
            width: 327px;
          
          }

          .info{
            flex-direction: column;
            gap: 32px;
          }
      }
    }
  }
}
