.container {
  .left-side {
    .content {
      display: flex;
      gap: 80px;
      height: 300px;
    

      nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 82px;
        height: 100%;

        a {
          &.active {
            background-color: #fff;
            color: #0b0d17;
          }
          margin-top: 0;
          width: 80px;
          height: 80px;
          border-radius: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 32px;
          letter-spacing: 2px;
          background-color: transparent;
          color: #fff;
          border: 1px solid #fff;
          font-family: Bellefair;
        }
      }

      .content-side {
        h4 {
          color: #d0d6f9;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 2.7px;
          margin-bottom: 11px;
        }
      }
    }
  }

  .right-side{
    display: flex;
    align-items: center;

    img{
      width: 80%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width : 768px) {
  .container{
    width: 100%;
    &.tech{
      
      .left-side{
      
        order: 2;
        flex-direction: column;
        .content{
          flex-direction: column;
          gap: 20px;
          nav{
            flex-direction: row;
            justify-content: center;
            max-width: 100%;
          }
        }
      }

      .right-side{
        order: 1;
        img{
          width: 100%;
          height: 310px;
          
        }
      }
    }
  }
}

@media (max-width : 478px) {
  .container{
    &.tech{
      .left-side{
        .subheading-1{
          margin-bottom: 20px;
        }
        .content{
          nav{
            a{
              width: 40px;
              font-size: 16px;
height: 40px;
letter-spacing: 1px;
            }
          }

          .content-side{
            .heading-3{
              font-size: 24px;
            }

            .body-text{
              width: 327px;
              line-height: 25px;
              font-size: 15px;

            }
          }
        }
      }

      .right-side{
        img{
          object-fit: cover;
          height: 200px;
        }
      }
    }
  }
}