.navbar {
  margin-top: 40px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
  position: relative;

  &::before {
    content: "";
    width: 473px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 217px;
    top: 48px;
    z-index: 2;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    height: 100%;
    width: 830px;

    li {
      
      height: 100%;

      &:not(:last-child){
        margin-right: 50px;
        
      }

      a {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;

        &.active{
          border-bottom: 3px solid $color-white;
        }

        &:hover:not(.active)  {
          border-bottom: 3px solid rgba(255, 255, 255, .5);
 

        }

        .bold-text {
          color: #fff;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 2.7px;
          margin-right: 11px;
        }
      }
    }
  }
}

@media (max-width : 768px ){
.navbar{
margin: 0;
margin-right: 5px;

.logo{
  margin-top: 24px;
  margin-left: 39px;
}
  &::before{
    display: none;


  }

  .links{
    width: 450px;

    li{
      &:not(:last-child){
        margin-right: 37px;
      }

      a{
        font-size: 14px;
        letter-spacing: 2.362px;
      }
    }
  }

  .bold-text{
    display: none;
  }
}
}