@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
.container {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 80%;
  margin-top: auto;
  align-items: center; }
  .container .left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    height: 100%; }
  .container .right-side {
    display: flex;
    align-items: flex-start;
    flex: 1;
    height: 100%; }

.heading-1 {
  color: #fff;
  font-family: Bellefair;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.heading-2 {
  color: #fff;
  font-family: Bellefair;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

.heading-3 {
  color: #fff;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

.heading-4 {
  color: #fff;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

.heading-5 {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px; }

.subheading-1 {
  color: #fff;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

.subheading-2 {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; }

.nav-text {
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase; }

.body-text {
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; }

.subheading-info {
  color: #FFF;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 120px; }
    .container .left-side {
      align-items: center;
      text-align: center; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  border: 0; }

:focus {
  outline: 0; }

.clear {
  clear: both; }

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif; }

.navbar {
  margin-top: 40px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
  position: relative;
  z-index: 1; }
  .navbar .burger {
    display: none; }
  .navbar::before {
    content: "";
    width: 473px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 217px;
    top: 48px; }
  .navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.77423px);
    height: 100%;
    width: 830px; }
    .navbar .links .btn-close {
      display: none; }
    .navbar .links li {
      height: 100%; }
      .navbar .links li:not(:last-child) {
        margin-right: 50px; }
      .navbar .links li a {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center; }
        .navbar .links li a.active {
          border-bottom: 3px solid #fff; }
        .navbar .links li a:hover:not(.active) {
          border-bottom: 3px solid rgba(255, 255, 255, 0.5); }
        .navbar .links li a .bold-text {
          color: #fff;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 2.7px;
          margin-right: 11px; }

@media (max-width: 768px) {
  .navbar {
    margin: 0;
    margin-right: 5px; }
    .navbar .logo {
      margin-top: 24px;
      margin-left: 39px; }
    .navbar::before {
      display: none; }
    .navbar .links {
      width: 450px; }
      .navbar .links li:not(:last-child) {
        margin-right: 37px; }
      .navbar .links li a {
        font-size: 14px;
        letter-spacing: 2.362px; }
    .navbar .bold-text {
      display: none; } }

@media (max-width: 478px) {
  .navbar .burger {
    display: block;
    width: 30px;
    height: 21px;
    margin-right: 20px; }
    .navbar .burger .btn-burger {
      background-color: transparent;
      cursor: pointer; }
      .navbar .burger .btn-burger img {
        width: 100%;
        height: 100%; }
  .navbar .links {
    position: absolute;
    top: 0;
    right: -300px;
    width: 254px;
    height: 667px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.77423px);
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .navbar .links.open {
      right: -10px; }
    .navbar .links .btn-close {
      display: block;
      background-color: transparent;
      margin-bottom: 64px;
      margin-left: auto;
      padding: 34px 26px; }
    .navbar .links li {
      height: 20px;
      width: 100%;
      margin-bottom: 32px; }
      .navbar .links li:not(:last-child) {
        margin-right: 0; }
      .navbar .links li a.active {
        border-bottom: 0; }
      .navbar .links li a:hover:not(.active) {
        border-bottom: 0; }
      .navbar .links li a .bold-text {
        display: block;
        margin-left: 32px; } }

.header {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(./assets/home/background-home-desktop.jpg);
  display: flex;
  align-items: center;
  flex-direction: column; }
  .header.destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg); }
  .header.crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg); }
  .header.technology {
    background-image: url(./assets/technology/background-technology-desktop.jpg); }

@media (max-width: 768px) {
  .header {
    height: 100%;
    background-image: url(./assets/home/background-home-tablet.jpg); }
    .header.destination {
      background-image: url(./assets/destination/background-destination-tablet.jpg); }
    .header.crew {
      background-image: url(./assets/crew/background-crew-tablet.jpg); }
    .header.technology {
      background-image: url(./assets/technology/background-technology-tablet.jpg); } }

@media (max-width: 478px) {
  .header {
    height: 100%;
    background-size: cover;
    background-image: url(./assets/home/background-home-mobile.jpg); }
    .header.destination {
      background-image: url(./assets/destination/background-destination-mobile.jpg); }
    .header.crew {
      background-image: url(./assets/crew/background-crew-mobile.jpg); }
    .header.technology {
      background-image: url(./assets/technology/background-technology-mobile.jpg); } }

.container .right-side {
  justify-content: flex-end; }

.container .big-circle {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .container .big-circle span {
    color: #0b0d17;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px; }

@media (max-width: 768px) {
  .container .left-side {
    gap: 10px; }
    .container .left-side .heading-5 {
      margin-top: 30px; }
  .container .right-side {
    align-items: flex-start; }
    .container .right-side .big-circle {
      margin-top: 50px;
      width: 242px;
      height: 242px; } }

@media (max-width: 768px) {
  .container.home .left-side {
    width: 80%; }
    .container.home .left-side .heading-5 {
      font-size: 16px;
      margin-bottom: 16px; }
    .container.home .left-side .heading-1 {
      font-size: 80px;
      margin-bottom: 16px; }
    .container.home .left-side .body-text {
      font-size: 16px;
      width: 327px; }
  .container.home .right-side .big-circle {
    margin-top: 0; } }

.container.destination .left-side img {
  width: 445px;
  height: 445px;
  margin-top: 50px; }

.container.destination .right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 445px;
  align-items: flex-start; }
  .container.destination .right-side nav {
    margin-bottom: 37px; }
    .container.destination .right-side nav a {
      padding-bottom: 15px; }
      .container.destination .right-side nav a:not(:last-child) {
        margin-right: 35px; }
      .container.destination .right-side nav a.active {
        border-bottom: 3px solid #fff; }
      .container.destination .right-side nav a:hover:not(.active) {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5); }
  .container.destination .right-side h2 {
    margin-bottom: 14px; }
  .container.destination .right-side .line {
    width: 100%;
    height: 1px;
    background-color: #383b4b;
    margin-top: 54px; }
  .container.destination .right-side .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px; }
    .container.destination .right-side .info .subheading-2 {
      text-transform: uppercase; }

@media (max-width: 768px) {
  .container.destination .left-side {
    width: 100%; }
    .container.destination .left-side h3 {
      margin-right: auto;
      margin-top: 20px;
      font-size: 20px; }
    .container.destination .left-side img {
      width: 300px;
      height: 300px;
      margin-bottom: 40px; }
  .container.destination .right-side {
    align-items: center;
    text-align: center; } }

@media (max-width: 478px) {
  .container.destination .left-side .subheading-1 {
    margin-right: 0;
    margin-bottom: 0; }
  .container.destination .left-side img {
    margin: 20px; }
  .container.destination .right-side .heading-2 {
    font-size: 56px; }
  .container.destination .right-side .body-text {
    width: 327px; }
  .container.destination .right-side .info {
    flex-direction: column;
    gap: 32px; } }

.container .left-side .subheading-1 {
  margin-bottom: 40px; }

.container .left-side .body-text {
  width: 444px; }

.container .left-side h3.heading-4 {
  opacity: 0.5042;
  margin-bottom: 10px; }

.container .left-side h5 {
  margin-bottom: 27px; }

.container .left-side nav a {
  margin-top: 30px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #979797; }
  .container .left-side nav a:not(:last-child) {
    margin-right: 15px; }
  .container .left-side nav a.active {
    background-color: white; }

@media (max-width: 768px) {
  .container.crew .left-side {
    width: 100%; }
    .container.crew .left-side .subheading-1 {
      margin-right: auto;
      margin-top: 20px;
      font-size: 20px; }
  .container.crew .right-side img {
    margin-top: 50px;
    object-fit: contain; } }

@media (max-width: 478px) {
  .container.crew .left-side {
    order: 2; }
    .container.crew .left-side .subheading-1 {
      margin-right: 0; }
    .container.crew .left-side .heading-4 {
      font-size: 16px; }
    .container.crew .left-side .heading-3 {
      font-size: 24px; }
    .container.crew .left-side .body-text {
      width: 327px; }
  .container.crew .right-side {
    order: 1;
    justify-content: center;
    border-bottom: 1px solid #383B4B; } }

.container .left-side .content {
  display: flex;
  gap: 80px;
  height: 300px; }
  .container .left-side .content nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 82px;
    height: 100%; }
    .container .left-side .content nav a {
      margin-top: 0;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      letter-spacing: 2px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      font-family: Bellefair; }
      .container .left-side .content nav a.active {
        background-color: #fff;
        color: #0b0d17; }
  .container .left-side .content .content-side h4 {
    color: #d0d6f9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    margin-bottom: 11px; }

.container .right-side {
  display: flex;
  align-items: center; }
  .container .right-side img {
    width: 80%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 768px) {
  .container {
    width: 100%; }
    .container.tech .left-side {
      order: 2;
      flex-direction: column; }
      .container.tech .left-side .content {
        flex-direction: column;
        gap: 20px; }
        .container.tech .left-side .content nav {
          flex-direction: row;
          justify-content: center;
          max-width: 100%; }
    .container.tech .right-side {
      order: 1; }
      .container.tech .right-side img {
        width: 100%;
        height: 310px; } }

@media (max-width: 478px) {
  .container.tech .left-side .subheading-1 {
    margin-bottom: 20px; }
  .container.tech .left-side .content nav a {
    width: 40px;
    font-size: 16px;
    height: 40px;
    letter-spacing: 1px; }
  .container.tech .left-side .content .content-side .heading-3 {
    font-size: 24px; }
  .container.tech .left-side .content .content-side .body-text {
    width: 327px;
    line-height: 25px;
    font-size: 15px; }
  .container.tech .right-side img {
    object-fit: cover;
    height: 200px; } }
